<!DOCTYPE html>
<html>
    <head>

        <title>学院管理系统</title>
    </head>

    <body>
        <h3><a href="'/admin/">管理</a></h3>
        <ul>
      {%  for student in students %}
            <li>{{ student.name }} - {{ student.get_status_display }}</li>
      {%  endfor %}
       <!-- get_status_display不是Student的方法，而是因为其status字段带有choices属性，自带这样的方法 -->
        </ul>

        <hr/>

        <form action="/" method="post">{%  csrf_token %}
            {{ form }}
            <input type="submit" value="提交" />
        </form>


    </body>




</html>